footer {
    background-color: #006633 !important;
    padding: 30px 0;
}

.footer-container {
    background-color: #006633 !important;
    margin-left: 25px;
}

.footer-container h3 {
    color: white !important;
}

.footer-container p {
    color: white !important;
}

.footer-container span {
    color: white !important;
}

.footer-container a {
    color: white !important;
    text-decoration: none !important;
}

.footer-container a:hover {
    color: white !important;
    text-decoration: underline !important;
}

.icon-footer {
    height: 25px;
    filter: brightness(0) invert(1);
}

#contactModal #contactModalLabel {
    color: #CC6600;
    font-weight: bolder;
}

#contactModal .modal-header {
    background-color: #006633;
}

#contactModal .modal-content {
    background-color: #eae8e0;
}

#contactModal #submitContactFormButton {
    background-color: #CC6600;
    border-color: #CC6600;
}

#contactModal .btn-close.custom-close {
    background-color: #CC6600;
    border-radius: 10%;
    opacity: 1;
}

h4.modal-title {
    font-size: 1.25rem;
}

@media (max-width: 840px) {
    .footer-container {
        margin-left: 0px;
    }
}