footer{
    background-color: #006633;
}
.footer-container{
    background-color: #006633;
    margin-left: 25px;
}
.footer-container h3{
    color: white;
}
.footer-container p{
    color: white;
}
.footer-container span{
    color: white;
}
.footer-container a{
    color: white;
}
.footer-container a:hover{
    color: white;
    text-decoration: underline;
}
.icon-footer{
    height: 25px;
}
#contactModal #contactModalLabel {
    color: #CC6600;
    font-weight: bolder;
}
#contactModal .modal-header {
    background-color: #006633;
}
#contactModal .modal-content {
    background-color: #eae8e0;
}
#contactModal #submitContactFormButton {
    background-color: #CC6600;
    border-color: #CC6600;
}
#contactModal .btn-close.custom-close {
    background-color: #CC6600;
    border-radius: 10%;
    opacity: 1;
}

@media (max-width: 840px) {
    .footer-container{
    margin-left: 0px;
}
}
    
