body {
    min-height: 100vh;
    background-color: #006633;
    margin: 0;
}
.btn-outline-orange {
    color: white;
    background-color: #CC6600;
}

.btn-outline-orange:hover {
    background-color:rgb(148, 75, 1);
    color: white;
}
